* {
    margin: 10px;
    padding: 0;
  }
  
  body section {
    background: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
  }
  
  article {
    border-style: solid;
    border-color:#000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  h2 {
    margin: 20px;
  }
  
  .triangle {
    stroke-dasharray: 17;
    animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 136;
    }
  }
  
  .loading {
    font-family: 'Orbitron', sans-serif;
    font-size: 7px;
    animation: blink 0.9s ease-in-out infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  .banner {
    background: linear-gradient(to bottom right, #1e528e, #2473ab 0%,#1e528e 70%,#5b7983 100%);
  }
  
  .name {
    font-family: 'Orbitron', sans-serif;
    font-size: 70px;
  }